.cent{
    text-align: center;
    color: gold;
}

.top {
    text-align: center;
}
.con {
    padding: 90px;
    
}
.blockquote {
    color: gold;
}
body {
    background-color: black;
}
.container {
    color: greenyellow;
}